/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.goto {
    bottom: 0%;
    left: 0%;
    position: fixed;
    z-index: 1000;
    border: 1px solid #6C63FF;
    padding: 10px 24px;
    background: #6C63FF;
    color: white;
    border-radius: 0px 20px 0px 0px;
    outline: none !important;
}

.goto:hover {
    background: white;
    color: #6C63FF;
}